*{box-sizing: border-box;}
html{height:100%;
	width:100%;}
body{background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center;
	display:flex;
	flex-flow: column nowrap}
body > form:first-child{color: black;
	text-shadow: 1px 1px white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;}
body > form:first-child > div{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}
body > form:first-child > div > div:last-child{
	width:100%;
	text-align: right;
	margin: 0px 10px;
}
body > form:first-child > div > input{width: 25%;
	margin: 0px 10px;
	font-size:1em;
	padding: 0px;
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center;}

#lab{
	width: 20%;
	height: 20%;
	position: absolute;
	bottom: 5px;
	right: 20px;
}