body > form:nth-of-type(2){
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	color: yellow;
	text-shadow: 1px 1px black;
	font-size: 1.4em;
}
body > form:nth-of-type(2) > div:last-of-type{
	display:flex;
}
#photos{
  -webkit-column-gap:   0px;
  -moz-column-gap:      0px;
  column-gap:           0px;  
  background-color: grey;
}
#photos > div{
	display:flex;
	flex-flow:column nowrap;}
#photos > div {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto;
  border: 3px solid white;
  break-inside: avoid;
  break-after: always;
}
#photos > div > div, #photos > div > a{
	width:max-content;
	padding: 2px 5px;
	margin: 0px auto;}
#photos > div > div:nth-of-type(1){
	background-color:olive;
}

#photos > div > img{
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
	margin: 0px auto;
}