.divbelep{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 20% 0% 0% 0%;
}
.divbelep > form{
	border-radius: 5px;
	box-shadow: 1px 1px black;
	justify-content: space-evenly;
	display: flex;
	flex-flow: column wrap;
	background: grey;
	padding: 5px;}
.divbelep > form > input, .divbelep > form > span{
	margin: 2px;
	padding: 2px;
}
.divbelep > form > input:first-child{
	border-radius: 5px;}
.divbelep > form > input:nth-child(2){
	box-shadow: 2px 2px grey;}