body{height: 100%;
	 justify-content: flex-start;}
.formvissza{
	width: 10%;}
.vissza{width:100%;}
body > div:nth-of-type(1){
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.containertable{
}
.containertable,.szjegydiv{
	text-shadow: black 1px 1px;
	background-color: grey;}
table  tbody{width: 100%;
	height: 100%;}
.kepdiv{display: flex;
	flex-flow: row nowrap;
	justify-content: center;}
.kepdiv > img{height: 50%;}
.kepdiv > div{width: 30%;
	display: flex;
	flex-flow: column nowrap;}
.szjegydiv{
	width: 23%;}
#nTable{	float: left; width: 100%; height: 100%;}
#nTable > tbody{height:100%;width:100%;}
#nTable > tbody > tr > td{width: 30%;
	height: 23%;}
#nTable > tbody > tr > td > input{width: 100%;
	height:100%;}  	