body{
	display: flex;
	flex-flow: column nowrap;
}
/*Kijelentkezés*/
body > form:first-of-type{order: 1;}

/*Terület,Beosztás selectOneMenu*/
body > div{display: flex;
	flex-flow: row nowrap;}
body > form:nth-of-type(2){order:2;}
body > form:nth-of-type(2) > span{
	color:yellow;
	font-size: 1.5em;
	text-shadow: black 1px 1px;
}
body > form:nth-of-type(2) > input{margin: 0px 20px;}
body > div:nth-of-type(1){order:3;}
body > div:nth-of-type(2){order:4;}
body > div:nth-of-type(1) > div form:nth-of-type(1) > select,body > div:nth-of-type(1) > form:nth-of-type(2) > select{width: 100%;}

/*tablazat tr display:block*/
/*Keypad*/
body > div:nth-of-type(1){
	display: flex;
	flex-flow: row nowrap;
	order: 3;
}
#tablazat{
	width:80%;
}

table tbody {
    height: 300px;
    display: inline-block;
    width: 100%;
    overflow:auto;
}

#cForm{order: 4;
	width: 20%;
	height: 60%;
	float: left;
	position: relative;}
#cForm > table{width: 100%;}
#cForm > table > tbody{width:100%;
	height:100%;}
#cForm > table> tbody > tr > td{
	height: 20%;
	width: 30%;
}
#cForm > table> tbody > tr > td > input{
	height: 100%;
	width: 100%;
}
#cForm > label{
	height:10%;
	font-size: 3em;
	margin: 2px 2px 2px 20px;
	color: white;
	text-shadow: black 1px 1px;
	background: -webkit-linear-gradient(rgb(146,216,234), rgb(90,190,223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tablazat > div{width: 100%;height:100%;}
#tablazat > div > div:nth-of-type(2){
	height:80%;
    overflow: auto;
}
#tablazat > table{
	table-layout: unset;
	border:1px black;
	background-color: grey;
}
#tablazat > table > tbody > tr{
	float: left;
	display: block;
	width: auto;
	margin: 3px 5px;
}
#tablazat > table > tbody > tr > td{
	padding: 0px;
}

#tablazat > table > tbody > tr > td:nth-of-type(3),#tablazat > table > tbody > tr > td:nth-of-type(4){
	display:none;
}

#tablazat > table > thead > tr > th{
	padding: 0px;
}
