body > div{
	display:flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
}
body > div > div{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
}

body > div > div >div{
	flex-basis:10%;	
}
body > div > div:nth-child(odd){
	background-color:grey;
}
body > div > div:nth-child(even){
	background-color:olive;
}